{% extends 'layout.html' %}

{% block content %}
  <form class="container-fluid mx-auto" action="/upload_file" method="POST" enctype="multipart/form-data">
      <!-- Custom bootstrap upload file-->
      <label for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow">
        <i class="fa fa-upload mr-2"></i>
        Browse for file ...
        <input id="fileUpload" name="file" type="file">
        <input class="form-control" id="textbox" type="text" name="description" placeholder="File Description">
        <button type="submit" value="Submit" class="btn btn-primary" style="background-color: #d36318;; color: #000000;">Submit</button>
      </label>
      <!-- End -->
  </form>
  <div class="row">
    <div class="col-md-8">
      {% block user_content %}
        {% for file in downloads %}
            <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="#">{{ file.download_date }}</a>
                    <small class="text-muted">{{ file.download_time }}</small>
                  </div>
                  <h2><a class="article-title" href="#">{{ file.file_name }}</a></h2>
                  <p class="article-content">{{ file.description }}</p>
                </div>
            </article>
        {% endfor %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

